@import url()

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 20px;
}

.navigation-bar{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	backdrop-filter: blur(20px);
	z-index: 5;
	background-image:linear-gradient(to right,lightblue,darkblue) ;
/*	background: transparent;*/
}

.mymenus{
	font-weight: bolder;
	color: black;
	
}

.mymenus:hover{
	text-decoration-color: underlined 2px solid royalblue;
	color: royalblue;
}

.logo{
	font-family: Arial Black;
	font-size: 30px;
	color: black;
}

.allsections{
	position: relative;
	top: 80px;
	width: 100%;
}

.section{
	width: 100%;
	height: 100vh;
	border: 5px solid black;
}

html{
	scroll-behavior: smooth;
}
 .home-section{
 	border: none;
 	width: 100%;
 	background-image: url("https://cdn.pixabay.com/photo/2024/01/24/21/41/woman-8530607_1280.png");
 	background-repeat: no-repeat;
 	background-size: 40%;
    background-position: 85% 0%;

 }
 .myinfo{
 	height: 450px;
 	width: 60%;
 	margin: 20% 6%;

 }
 .info-home{
 	font-size: 30px;
 	font-family: Elephant;

 }
 .myname{
 	font-size: 50px;
 }
 .fsjd{
 	font-family: Elenhant;
 }
 .myname{
 	font-size: 50px;
 }
 .fsjd{
 	font-family: Elephant;
 	font-size: 30px;
 	color: orangered;
 }
 .rsm{
 	height: 60px;
 	width: 120px;
 	margin: 20px 30px;
 	border: none;
 	borderground-color:royalblue;
 	color: white;
 	border-radius: 10px;
 	font-family: Arial Black;
 }
 .rsm:hover{
 	background-color: white;
 	color: white;
 	border: 3px solid royalblue;
 	transform: scale(1.1);

  .about-section{
  	background-color: whitesmoke;
  	   border: none;
  	   width: 100%;
  	   height: 500px;
  	   display: flex;
  	   padding: 20px;
  	}
  	.about-sect{
  		height: 500px;
  	}
  	.myimg{
  		width: 40%;
  	}
  	.cobj1{
  		padding: 30px 60px;
  	}
  	.career{
  		text-align: justify;
  		font-size: 22px;
  		margin-top: -110px;
  		text-indent: 20%;
  		font-family: sans-serif;
  		font-weight: bolder;
  		line-height: 40px;
  	}
  	}
  }
 }
 }


 }